<table>
    <thead>
        <tr>
            <td style="width: 5%">ID</td>
            <td style="width: 35%">Tytuł</td>
            <td style="width: 35%">Autorzy</td>
            <td style="width: 10%">Rok wyd.</td>
            <td style="width: 15%">ISBN</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of BookList">
            <td>{{item.id}}</td>
            <td>{{item.title}}</td>
            <td>
                <ng-container *ngFor="let autor of item.authors">
                    {{autor}}<span *ngIf="autor!=item.authors[item.authors.length-1]">, </span>
                </ng-container>
            </td>
            <td>{{item.releaseYear}}</td>
            <td>{{item.ISBN}}</td>
        </tr>
    </tbody>
</table>