<h4>Dodaj Nową Książkę:</h4>
<div class="component">
    <div>Podaj id: <input type="number" [(ngModel)]="newBook.id"/></div>
    <div>Podaj Tytuł: <input type="text" [(ngModel)]="newBook.title"/></div>
    <div>Podaj Autora: <input type="text" [(ngModel)]="newBook.author"/></div>
    <div>Podaj Rok wydania: <input type="number" [(ngModel)]="newBook.year"/></div>
    <div>Podaj numer ISBN: <input type="number" [(ngModel)]="newBook.ISBN"/></div>
    <button (click)="addNewBook()">Dodaj</button>
</div>